<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UI Test Suite" data-provider-thread-count="2">
	<listeners>
		<listener class-name="com.selenium.listeners.ListenerClass"/>
		<listener class-name="com.selenium.listeners.MethodInterceptor"/>
		<listener class-name="com.selenium.listeners.AnnotationTransformer"/>
	</listeners>

	<test name="Sample UI Test - Desktop" parallel="methods" thread-count="1">
		<classes>
<!--		    <class name="LoginPageTest" />-->
<!--			<class name="HomePageTest" />-->
<!--			<class name="com.selenium.tests.OrangeHrmTest"/>-->
			<class name="com.selenium.tests.AmazonDemoTest"/>
		</classes>
	</test>
</suite>  
